@import url("https://fonts.googleapis.com/css2?family=Genos&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
  font-family: "Genos", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

h1 {
  background-color: rgb(121, 180, 183);
  color: rgb(254, 251, 243);
  grid-area: header;
  margin: 0px;
  font-size: 9vh;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: rgb(248, 240, 223);
  color: rgb(248, 240, 223);
  grid-area: nav;
  height: 5vh;
  font-size: 2.8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  margin-left: 4vw;
  margin-right: 4vw;
  color: rgb(121, 180, 183);
  text-decoration: none;
  font-weight: bolder;
}

main {
  background-color: rgb(254, 251, 243);
  grid-area: main;
}

section {
  background-color: rgb(198, 223, 224);
  padding: 20px;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

#welcome {
  height: 100%;
  background-color: rgb(198, 223, 224);
}

h2 {
  height: 12vh;
  color: rgb(157, 157, 157);
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  padding: 15px;
  padding-top: 0px;
  color: rgb(157, 157, 157);
  grid-area: title;
}

.loading {
  margin-top: 20vh;
  color: rgb(157, 157, 157);
}

.cards {
  margin: 20px;
  border-radius: 20px;
  background-color: rgb(254, 251, 243);
  padding-top: 30px;
  border: solid rgb(121, 180, 183);
  display: grid;
  justify-items: center;
  align-items: center;
}

#home-card {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "title"
    "main"
    "buttons";
  padding: 3vh;
}

#review-cards {
  height: 50vh;
  width: 40vh;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "title"
    "image"
    "main"
    "button";
  padding-bottom: 30px;
}

#category-cards {
  height: 20vh;
  width: 45vh;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "title"
    "main"
    "button";
  padding: 30px;
}

#user-cards {
  height: 8vh;
  width: 18vh;
  align-content: center;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#review-content {
  grid-area: info;
}

#single-review-card {
  height: min-content;
  width: 100vh;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "image title"
    "image info"
    "image button";
  padding: 0px;
  margin-bottom: 0px;
}

#comment-cards {
  height: min-content;
  width: 100vh;
  margin: 5px;
}

#single-user-card {
}

.owner {
  margin-top: 55px;
  font-size: 14px;
  grid-area: title;
}

img {
  border-radius: 10%;
  max-width: 150px;
  max-height: 150px;
  grid-area: image;
}

button {
  border-radius: 30px;
  padding: 8px;
  border: none;
  background-color: rgb(248, 240, 223);
  color: rgb(121, 180, 183);
  grid-area: button;
}

.review-card {
}

.login-area {
  border-bottom-left-radius: 20px;
  background-color: rgb(198, 223, 224);
  position: fixed;
  display: flex;
  height: 4vh;
  width: max-content;
  right: 0;
  padding: 0;
  padding-left: 1vh;
  /* padding-top: 0.5vh; */
  justify-content: right;
}

.login-avatar {
  height: 3vh;
  border-radius: 2vh;
  margin-left: 0.8vw;
  margin-top: 0.5vh;
}

.login-username {
  text-align: right;
  color: rgb(121, 180, 183);
  margin-left: 0.8vw;
  margin-top: 0.5vh;
  margin-right: 0.5vh;
}

.current-user-link {
  text-decoration: none;
  font-weight: bolder;
}

.login-button {
  height: 4vh;
  width: 12vw;
  padding: 0;
  border-radius: 0;
  margin-left: 0.8vw;
}
