@import url("https://fonts.googleapis.com/css2?family=Genos&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
  font-family: "Genos", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

h1 {
  background-color: rgb(121, 180, 183);
  color: rgb(254, 251, 243);
  grid-area: header;
  margin: 0px;
  font-size: 9vh;
  height: 20vh;
  padding-top: 3vh;
  padding-bottom: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: rgb(248, 240, 223);
  color: rgb(248, 240, 223);
  grid-area: nav;
  height: 5vh;
  font-size: 2.6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  margin-left: 3.3vw;
  margin-right: 3.3vw;
  color: rgb(121, 180, 183);
  text-decoration: none;
  font-weight: bolder;
}

main {
  background-color: rgb(254, 251, 243);
  grid-area: main;
}

section {
  background-color: rgb(198, 223, 224);
  padding: 20px;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  /* align-content: flex-start; */
  justify-content: center;
}

#welcome {
  height: 100%;
  background-color: rgb(198, 223, 224);
}

#user-section {
  height: 100%;
  background-color: rgb(198, 223, 224);
  align-content: flex-start;
}

h2 {
  height: 12vh;
  color: rgb(157, 157, 157);
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-reviews-title {
  text-transform: capitalize;
}

h3 {
  padding: 15px;
  padding-top: 0px;
  color: rgb(157, 157, 157);
  grid-area: title;
}

.loading,
.error {
  margin-top: 20vh;
  color: rgb(157, 157, 157);
}

#review-queries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.query-label {
  background-color: rgb(121, 180, 183);
  color: rgb(254, 251, 243);
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  padding: 8px;
  width: 52px;
  margin-left: 50px;
  margin-top: 10px;
}

.query-options {
  background-color: rgb(248, 240, 223);
  border: none;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  text-align: center;
  color: rgb(121, 180, 183);
  padding: 8px;
  width: 160px;
  margin-right: 50px;
  margin-top: 10px;
}

.cards {
  margin: 20px;
  border-radius: 20px;
  background-color: rgb(254, 251, 243);
  padding-top: 30px;
  border: solid rgb(121, 180, 183);
  display: grid;
  justify-items: center;
  align-items: center;
}

img {
  border-radius: 10%;
  max-width: 150px;
  max-height: 150px;
  grid-area: image;
}

button {
  border-radius: 30px;
  padding: 8px;
  border: none;
  background-color: rgb(248, 240, 223);
  color: rgb(121, 180, 183);
  grid-area: button;
  font-family: "Genos", sans-serif;
  font-size: 15px;
}

#home-card {
  height: min-content;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "title"
    "main"
    "buttons";
  padding: 3vh;
}

#review-cards {
  height: 50vh;
  width: 40vh;
  grid-template-rows: 2fr 0.5fr 3fr 3fr 1fr;
  grid-template-areas:
    "title"
    "author"
    "image"
    "main"
    "button";
  padding-bottom: 30px;
}

.review-title {
  padding-bottom: 0px;
}

.owner {
  background-color: rgb(254, 251, 243);
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 14px;
  grid-area: author;
}

.review-image {
  width: 150px;
  height: 100px;
}

#category-cards {
  height: 20vh;
  width: 45vh;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "title"
    "main"
    "button";
  padding: 30px;
}

#user-cards {
  height: 8vh;
  width: 18vh;
  align-content: center;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#review-content {
  grid-area: info;
}

#single-review-card {
  height: min-content;
  width: 70vw;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(254, 251, 243);
  border: solid rgb(121, 180, 183);
}

#single-review-card img {
  margin: 20px;
}

.review-card-owner {
  padding-bottom: 0;
  width: 100%;
  background-color: rgb(254, 251, 243);
}

.review-body {
  color: rgb(121, 180, 183);
  margin-bottom: 20px;
}

.review-info {
  margin-bottom: 20px;
}

.comment_count {
  margin-top: 15px;
}

#comment-section {
  padding-top: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#comment-cards {
  grid-area: comment;
  border-radius: 20px;
  background-color: rgb(254, 251, 243);
  border: solid rgb(121, 180, 183);
  height: min-content;
  width: 70vw;
  margin: 0px;
  margin-bottom: 8px;
  padding: 20px;
  padding-bottom: 30px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-areas:
    "body body votes"
    "author date buttons";
  align-items: center;
}

#add-comment-card {
  margin-top: 0;
  padding-top: 0;
  height: min-content;
  width: 70vw;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px;
  padding-bottom: 15px;
}

#add-a-comment {
  font-size: 30px;
}

.add-comment {
  margin-bottom: 20px;
  border: none;
}

#comment-body-label {
  color: rgb(121, 180, 183);
  width: 70vw;
}

#comment-body-input {
  margin-top: 8px;
  width: 55vw;
  height: 80px;
  border: solid rgb(121, 180, 183);
  border-width: thin;
  border-radius: 20px;
  padding: 10px;
  font-size: 17px;
  font-family: "Genos", sans-serif;
}

.comment-body {
  grid-area: body;
  margin: 10px;
  color: rgb(121, 180, 183);
}

.comment-author {
  grid-area: author;
  background-color: rgb(254, 251, 243);
  color: rgb(157, 157, 157);
  text-align: left;
  padding-top: 0px;
  padding-left: 15px;
  height: 10px;
  margin-bottom: 5px;
  font-family: "Genos", sans-serif;
  font-size: 15px;
}

.comment-date {
  grid-area: date;
  color: rgb(157, 157, 157);
  height: 10px;
  margin-bottom: 10px;
}

.delete-comment-button {
  grid-area: buttons;
  width: 130px;
  align-items: right;
}

.confirmation,
.custom-error {
  color: rgb(121, 180, 183);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

.vote-count {
  grid-area: votes;
}

.add-vote {
  grid-area: buttons;
  width: 34px;
  height: 34px;
  margin-left: 5px;
  margin-right: 5px;
}

.minus-vote {
  grid-area: buttons;
  width: 34px;
  height: 34px;
  margin-left: 5px;
  margin-right: 5px;
}

.add-vote-disabled {
  color: rgb(254, 251, 243);
  background-color: rgb(214, 214, 214);
  grid-area: buttons;
  width: 34px;
  height: 34px;
  margin-left: 5px;
  margin-right: 5px;
}

.minus-vote-disabled {
  color: rgb(254, 251, 243);
  background-color: rgb(214, 214, 214);
  grid-area: buttons;
  width: 34px;
  height: 34px;
  margin-left: 5px;
  margin-right: 5px;
}

#comment-cards .add-vote {
  margin-left: 21px;
}

#comment-cards .minus-vote {
  margin-left: 66px;
}

#comment-cards .add-vote-disabled {
  margin-left: 21px;
  color: rgb(254, 251, 243);
  background-color: rgb(214, 214, 214);
}

#comment-cards .minus-vote-disabled {
  margin-left: 66px;
  color: rgb(254, 251, 243);
  background-color: rgb(214, 214, 214);
}

#single-user-card {
  height: 270px;
  width: 200px;
  margin: 20px;
  border-radius: 20px;
  background-color: rgb(254, 251, 243);
  padding-top: 30px;
  border: solid rgb(121, 180, 183);
}

#single-user-card p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 24px;
  color: rgb(157, 157, 157);
}

#single-user-card img {
  height: 300px;
  width: 280px;
}

.login-area {
  border-bottom-left-radius: 20px;
  background-color: rgb(198, 223, 224);
  position: fixed;
  display: flex;
  height: 4vh;
  width: max-content;
  right: 0;
  padding: 0;
  justify-content: right;
}

.login-avatar {
  height: 3vh;
  border-radius: 2vh;
  margin-left: 1.4vw;
  margin-top: 0.5vh;
}

.login-username {
  text-align: right;
  color: rgb(121, 180, 183);
  margin-left: 0.8vw;
  margin-top: 0.5vh;
  margin-right: 0.5vh;
}

.current-user-link {
  text-decoration: none;
  font-weight: bolder;
}

.login-button,
.logout-button,
.username-login-button {
  height: 4vh;
  width: 60px;
  padding: 0;
  border-radius: 0;
  margin-left: 0.8vw;
}

.login-button {
  border-bottom-left-radius: 20px;
  margin-left: 0;
}

.username-form {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "username button";
}

.username-login {
  margin-bottom: 20px;
  border: none;
  grid-area: username;
}

#username-login-label {
  color: rgb(121, 180, 183);
  padding: 6px;
}

#username-login-input {
  margin-top: 2px;
  width: 120px;
  height: 20px;
  border: solid rgb(121, 180, 183);
  border-width: thin;
  border-radius: 20px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
