* {
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

h1 {
  background-color: rgb(121, 180, 183);
  color: rgb(254, 251, 243);
  grid-area: header;
  margin: 0px;
  font-size: 60px;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: rgb(248, 240, 223);
  color: rgb(248, 240, 223);
  grid-area: nav;
  padding: 15px;
  font-size: 20px;
}

.nav-link {
  padding: 80px;
  color: rgb(121, 180, 183);
  font-weight: bold;
}

main {
  background-color: rgb(254, 251, 243);
  grid-area: main;
}

section {
  background-color: rgb(198, 223, 224);
  padding: 20px;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {
  padding: 50px;
  color: rgb(157, 157, 157);
  font-size: 35px;
}

h3 {
  padding: 15px;
  padding-top: 0px;
  color: rgb(157, 157, 157);
  grid-area: title;
}

.cards {
  margin: 20px;
  border-radius: 20px;
  background-color: rgb(254, 251, 243);
  padding-top: 30px;
  border: solid rgb(121, 180, 183);
  display: grid;
  justify-items: center;
  align-items: center;
}

#review-cards {
  height: 50vh;
  width: 40vh;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "title"
    "image"
    "main"
    "button";
  padding-bottom: 30px;
}

#category-cards {
  height: 20vh;
  width: 45vh;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "title"
    "main"
    "button";
  padding: 30px;
}

#user-cards {
}

#review-content {
  grid-area: info;
}

#single-review-card {
  height: min-content;
  width: 100vh;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "image title"
    "image info"
    "image button";
  padding: 0px;
  margin-bottom: 0px;
}

#comment-cards {
  height: min-content;
  width: 100vh;
  margin: 5px;
}

#single-user-card {
}

.owner {
  margin-top: 55px;
  font-size: 14px;
  grid-area: title;
}

img {
  border-radius: 10%;
  max-width: 150px;
  max-height: 150px;
  grid-area: image;
}

button {
  border-radius: 30px;
  padding: 8px;
  border: none;
  background-color: rgb(248, 240, 223);
  color: rgb(121, 180, 183);
  grid-area: button;
}

.review-card {
}

#current-user {
  text-align: right;
}

.login-area {
  position: fixed;
  display: flex;
  height: 5vh;
  background: none;
  right: 0;
  padding: 0;
}

#current-user img {
  height: 3vh;
}
